openapi: 3.0.0
info:
  version: '1.0.0'
  title: VK
  description: |
    Methods for working with VK ecosystem
servers:
  - url: https://api.vk.ru
    description: Production environment
  - url: https://api.vk.com
    description: Production environment
tags:
  - name: OAuth
    description: VK OAuth
  - name: Groups
    description: User groups
security:
  - BearerAuth: [ ]
paths:
  /method/groups.get:
    get:
      summary: Get user groups
      description: Returns list of user groups
      operationId: getGroups
      tags:
        - Groups
      parameters:
        - $ref: '#/components/parameters/Version'
        - $ref: '#/components/parameters/Language'
        - $ref: '#/components/parameters/Offset'
        - $ref: '#/components/parameters/Count'
        - name: user_id
          in: query
          description: User ID
          required: false
          schema:
            type: integer
            format: int64
        - name: extended
          in: query
          description: Return complete information
          required: false
          schema:
            type: integer
            enum:
              - 0
              - 1
        - name: filter
          in: query
          description: Types of communities to return.
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              $ref: '#/components/schemas/GroupsFilter'
      responses:
        '200':
          description: Get user groups result
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    type: object
                    required:
                      - items
                      - count
                    properties:
                      items:
                          $ref: '#/components/schemas/GroupList'
                      count:
                        type: integer  
                  error:
                    $ref: '#/components/schemas/Error'
  /authorize:
    servers:
      - url: https://oauth.vk.com
        description: VK OAuth
    get:
      summary: Authorization VK page
      description: Redirect user to VK authorization page
      operationId: authorize
      parameters:
        - name: client_id
          in: query
          required: true
          schema:
            type: string
        - name: redirect_uri
          in: query
          required: true
          schema:
            type: string
        - name: group_ids
          in: query
          required: true
          schema:
            type: string
        - name: scope
          in: query
          required: true
          schema:
            type: string
        - name: response_type
          in: query
          required: true
          schema:
            type: string
            enum:
              - code
        - name: display
          in: query
          required: false
          schema:
            type: string
            enum:
              - page
              - popup
              - mobile
        - name: state
          in: query
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/Version'
      responses:
        '302':
          description: Redirect user to authorization page
          headers:
            Location:
              schema:
                type: string    
  /access_token:
    servers:
      - url: https://oauth.vk.com
        description: VK OAuth
    get:    
      summary: Exchange code for group access tokens
      description: Exchanges the temporary code for group access tokens
      operationId: exchangeGroupCode
      tags:
        - OAuth
      security: [ ]
      parameters:
        - name: client_id
          in: query
          required: true
          schema:
            type: string
        - name: client_secret
          in: query
          required: true
          schema:
            type: string
        - name: redirect_uri
          in: query
          required: true
          schema:
            type: string
        - name: code
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Exchange group code result
          content:
            application/json:
              schema:
                type: object
                required:
                  - groups
                properties:
                  groups:
                    type: array
                    items:
                      $ref: '#/components/schemas/GroupToken'
                  error:
                    $ref: '#/components/schemas/Error'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    Version:
      name: v
      in: query
      description: API version
      required: true
      schema:
        type: string
        enum:
          - "5.199"
    Language:
      name: lang
      in: query
      description: Language
      required: false
      schema:
        type: string
    Offset:
      name: offset
      in: query
      description: Offset needed to return a specific subset
      required: false
      schema:
        type: integer
    Count:
      name: count
      in: query
      description: Number to return
      required: false
      schema:
        type: integer
        minimum: 1

  schemas:
    Error:
      type: object
      required:
        - error_code
        - error_msg
      properties:
        error_code:
          type: integer
        error_msg:
          type: string

    GroupsFilter:
      type: string
      description: Types of communities to return
      enum:
        - admin
        - editor
        - moder
        - advertiser
        - groups
        - publics
        - events
        - has_addresses

    Group:
      type: object
      required:
        - id
        - name
        - screen_name
        - is_closed
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        screen_name:
          type: string
        is_closed:
          type: integer
          enum:
            - 0
            - 1
            - 2
        deactivated:
          type: string
          enum:
            - deleted
            - banned      
    
    GroupList:
      type: array
      items:
        $ref: '#/components/schemas/Group'

    GroupToken:
      type: object
      required:
        - group_id
        - access_token
      properties:
        group_id:
          type: integer
          format: int64
        access_token:
          type: string
