openapi: 3.0.0
info:
  version: '1.0.0'
  title: Vkontakte
  description: |
    Methods for working with VK ecosystem
servers:
  - url: https://api.vk.ru
    description: Production environment
  - url: https://api.vk.com
    description: Production environment
tags:
  - name: Groups
    description: User groups
security:
  - BearerAuth: [ ]
paths:
  /method/groups.get:
    get:
      summary: Get user groups
      description: Returns list of user groups
      operationId: getGroups
      tags:
        - Groups
      parameters:
        - $ref: '#/components/parameters/Version'
        - $ref: '#/components/parameters/Language'
        - $ref: '#/components/parameters/Offset'
        - $ref: '#/components/parameters/Count'
        - name: user_id
          in: query
          description: User ID
          required: false
          schema:
            type: integer
            format: int64
        - name: extended
          in: query
          description: Return complete information
          required: false
          schema:
            type: integer
            enum:
              - 0
              - 1
        - name: filter
          in: query
          description: Types of communities to return.
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              $ref: '#/components/schemas/GroupsFilter'
      responses:
        '200':
          description: Get user groups result
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    type: object
                    required:
                      - items
                      - count
                    properties:
                      items:
                          oneOf:
                            - $ref: '#/components/schemas/GroupList'
                            - $ref: '#/components/schemas/GroupIDList'
                      count:
                        type: integer  
                  error:
                    $ref: '#/components/schemas/Error'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    Version:
      name: v
      in: query
      description: API version
      required: true
      schema:
        type: string
        enum:
          - "5.199"
    Language:
      name: lang
      in: query
      description: Language
      required: false
      schema:
        type: string
    Offset:
      name: offset
      in: query
      description: Offset needed to return a specific subset
      required: false
      schema:
        type: integer
    Count:
      name: count
      in: query
      description: Number to return
      required: false
      schema:
        type: integer
        minimum: 1

  schemas:
    Error:
      type: object
      required:
        - error_code
        - error_msg
      properties:
        error_code:
          type: integer
        error_msg:
          type: string

    GroupsFilter:
      type: string
      description: Types of communities to return
      enum:
        - admin
        - editor
        - moder
        - advertiser
        - groups
        - publics
        - events
        - has_addresses

    Group:
      type: object
      required:
        - id
        - name
        - screen_name
        - is_closed
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        screen_name:
          type: string
        is_closed:
          type: integer
          enum:
            - 0
            - 1
            - 2
        deactivated:
          type: string
          enum:
            - deleted
            - banned      
    
    GroupList:
      type: array
      items:
        $ref: '#/components/schemas/Group'

    GroupIDList:
      type: array
      items:
        type: integer
        format: int64

